/* The root class is used to define colors for the scope of all CSS */
.root {
    /* The actual colours we use. */
    /* These variables are then used as input for the variables of the other elements. */
    -darkest-blue: #0A111F;
    -dark-blue: #0F192E;
    -normal-blue: #14213D;
    -light-blue: #19294D;
    -lightest-blue: #1E325C;

    -gold-highlight: #DAA520;  /* Goldenrod my beloved */
    -red-highlight: #BF0000;
    -grey-highlight: #858585;
    -silver-highlight: #ADADAD;

    /* This is the default stage colour. */
    /* Should be same as -content-background-color for the fading seperator under grid controls */
    -main-background-color: -darkest-blue;


    /* Sidebar colours */
    -sidebar-color: -dark-blue;
    -sidebar-button-hover-color: -normal-blue;
    -sidebar-button-active-color: -lightest-blue;
    -sidebar-browse-button-inactive-color: transparent;


    /* Content grid controls colours */
    -content-grid-filters-input-color: -normal-blue;
    -content-grid-filters-button-color: -lightest-blue;
    -content-grid-filters-button-hover-color: -light-blue;

    /* Content grid colours */
    -content-background-color: -darkest-blue;
    -grid-box-background-color: -lightest-blue;
    -grid-box-border-color: -silver-highlight;
    -pagination-input-color: -normal-blue;
    -pagination-button-color: -lightest-blue;
    -pagination-button-hover-color: -normal-blue;

    /* Popup colours */
    -popup-main-background-color: -darkest-blue;
    -popup-input-color: -normal-blue;
    -popup-input-hover-color: -light-blue;
    -popup-rating-background-color: -normal-blue;
    -popup-rating-inactive-color: -grey-highlight;
    -popup-rating-hover-color: -silver-highlight;
    -popup-rating-active-heart-color: -red-highlight;
    -popup-rating-active-thumbs-color: -gold-highlight;
    -popup-progress-color: -normal-blue;
    -popup-scrollpane-color: -lightest-blue;
}

/* ************************************* */
/* Global styling for all elements as a type */
/* Mostly to disable annoying default styling */
/* ************************************* */
.button {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-traversable: false;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-background-insets: 0 0 0 0;
}

.toggle-button {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-traversable: false;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-background-insets: 0 0 0 0;
}

.scroll-pane {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-traversable: false;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-background-insets: 0 0 0 0;
}

.combo-box {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-traversable: false;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-background-insets: 0 0 0 0;
}

.text-field{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-traversable: false;
    -fx-border-color: transparent;
    -fx-border-width: 0 0 0 0;
    -fx-background-insets: 0 0 0 0;
}

#main-root {
    -fx-background-color: -main-background-color;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-focus-traversable: false;
}


/* ************************************* */
/* Sidebar things */
/* ************************************* */
#sidebar {
    -fx-background-color: -sidebar-color;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: center;
}

#main-label {
    -fx-text-fill: white;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.separator {
    -fx-min-height: 2px;
    -fx-pref-height: 2px;
    -fx-max-height: 2px;
    -fx-background-color: -gold-highlight;
}

.loading-seperator {
    -fx-min-width: 2px;
    -fx-pref-width: 2px;
    -fx-max-width: 2px;
}

#sidebar-browse-mode-browse-button { /* No pseudo selectors in JavaFX, yay.. */
    -fx-border-radius: 5px 0 0 5px;
    -fx-background-radius: 5px 0 0 5px;
}

#sidebar-browse-mode-log-button {
    -fx-border-radius: 0 5px 5px 0;
    -fx-background-radius: 0 5px 5px 0;
}

.sidebar-browse-mode-button {
    -fx-background-color: -sidebar-browse-button-inactive-color;
    -fx-text-fill: white;
    -fx-pref-height: 35px;
    -fx-pref-width: 120px;
    -fx-background-insets: 0;
    -fx-font-size: 20px;
}

.sidebar-browse-mode-button:hover {
    -fx-background-color: -sidebar-button-hover-color;
}

.sidebar-browse-mode-button-active {
    -fx-background-color: -sidebar-button-active-color;
}

.sidebar-browse-mode-button-active:hover {
    -fx-background-color: -sidebar-button-active-color;
}

.sidebar-media-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 26px;
}

.sidebar-media-button:hover {
    -fx-background-color: -sidebar-button-hover-color; /* old: #353538 */
}

.sidebar-media-button-active {
    -fx-background-color: -sidebar-button-active-color; /* old : #45454A */
}


.sidebar-media-button-active:hover {
    -fx-background-color: -sidebar-button-active-color;
}


/* ************************************* */
/* Content grid controls */
/* ************************************* */
.content-pane {
    -fx-background-color: -content-background-color;
}

.content-pane-controls {
    -fx-background-color: -content-background-color;
    -fx-padding: 15px;
    -fx-alignment: center;
}

.content-pane-controls-bottom-border {
    -fx-border-color: -gold-highlight;
    -fx-border-width: 0 0 1 0;
}

.search-bar-and-filter-toggle {
    -fx-spacing: 10;
    -fx-padding: 0 0 15 0;
}

#search-bar {
    -fx-font-size: 16px;
    -fx-background-color: -content-grid-filters-input-color;
    -fx-pref-height: 35px;
    -fx-text-fill: white;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.5);
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.controls-button {
    -fx-font-size: 16px;
    -fx-background-color: -content-grid-filters-button-color;
    -fx-text-fill: white;
    -fx-pref-height: 35px;
    -fx-pref-width: 120px;
}

.controls-button:hover {
    -fx-background-color: -content-grid-filters-button-hover-color;
}

.filter-label {
    -fx-font-size: 14px;
    -fx-text-fill: rgba(255, 255, 255, 0.7);
}

.filter-combo-box {
    -fx-font-size: 16px;
    -fx-background-color: -content-grid-filters-input-color;
    -fx-pref-height: 35px;
    -fx-pref-width: 200px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}


.filter-combo-box .text-input {
    -fx-background-color: -content-grid-filters-input-color;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}



.filter-combo-box .combo-box-popup {
    -fx-background-color: -content-grid-filters-input-color;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.filter-combo-box .combo-box-popup .list-view {
    -fx-background-color: -content-grid-filters-input-color;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-insets: 3 0 0 0;
    -fx-padding: 3 0 0 0;
}


.filter-combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-pref-height: 35px;
    -fx-padding: 5 10 5 10;
}

.filter-combo-box .list-cell:hover {
    -fx-background-color: -content-grid-filters-button-color;
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.filter-combo-box .arrow-button .arrow {
    -fx-background-color: white;
}


.filter-text-box {
    -fx-font-size: 16px;
    -fx-background-color: -content-grid-filters-input-color;
    -fx-text-fill: white;
    -fx-pref-height: 35px;
    -fx-pref-width: 200px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}



/* ************************************* */
/* Content grid */
/* ************************************* */
.grid-scroll-pane {
    -fx-background: -content-background-color;
    -fx-background-color: -content-background-color;
    -fx-font-size: 4;                       /* This takes care of the scroll bar size in scroll panes. */
    -fx-padding: 0 6px 0 10px;              /* Weird padding so left and (right - scrollbar width) look (roughly) the same */
    -fx-fit-to-width: true;
    -fx-vbar-policy: as-needed;
    -fx-hbar-policy: never;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0;
    -fx-pref-height: 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-font-size: 2;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
    -fx-font-size: 2;
}

.grid-media-box {
    -fx-background-color: -grid-box-background-color; /* For when image not loaded */
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    -fx-border-radius: 18;
    -fx-background-radius: 18;
    -fx-background-insets: 0;
    -fx-border-insets: 0;

    -fx-border-color: -grid-box-border-color;
    -fx-border-width: 2px;
}


/* These should stay the same as the ones in .grid-media-box */
.grid-media-box-anchor {
    -fx-border-radius: 18;
    -fx-background-radius: 18;
}

/* This is the text and darkening background that appear when hovering on a grid box */
.grid-media-box-text {
    -fx-font-size: 25;
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-background-color: rgba(0, 0, 0, 0.8); /* "Darkening effect" */
    -fx-border-radius: 18;
    -fx-background-radius: 18;
    -fx-border-color: -gold-highlight;
    -fx-border-width: 4px;
    -fx-padding: 0 10 0 10;
}

.pagination-wrapper {
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-padding: 0 0 10 0;
    -fx-alignment: center;
}

.pagination-buttons {
    -fx-min-height: 40;
    -fx-max-height: 40;
}

.pagination-button {
    -fx-min-width: 40;
    -fx-max-width: 65;
    -fx-min-height: 40;
    -fx-max-height: 40;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 16px;
}

.pagination-button:hover {
    -fx-background-color: -pagination-button-hover-color;
}

.pagination-input-field {
    -fx-min-width: 60;
    -fx-max-width: 60;
    -fx-min-height: 40;
    -fx-max-height: 40;
    -fx-font-size: 16;
    -fx-alignment: center;
    -fx-background-color: -pagination-input-color;
    -fx-text-fill: white;
}

.pagination-button-active {
    -fx-background-color: -pagination-button-color;
}

.pagination-button-active:hover {
    -fx-background-color: -pagination-button-color;
}

/* This is the darkening background that appears when clicking on a grid box */
/* No opacity here for animation */
.grid-media-popup-background {
    -fx-background-color: black;
}


/* ************************************* */
/* Popup */
/* ************************************* */
.grid-media-popup {
    -fx-background-color: -popup-main-background-color;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-alignment: center;
}

.grid-media-popup-title {
    -fx-text-fill: white;
    -fx-padding: 5 5 5 10;
}

.grid-media-popup-left {
    -fx-spacing: 5;
    -fx-padding: 0 10 0 10;
}

.grid-media-popup-left-item {

}

.popup-media-box {
    -fx-background-color: -grid-box-background-color; /* For when image not loaded */
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-insets: 0;
    -fx-border-insets: 0;

    -fx-border-color: -grid-box-border-color;
    -fx-border-width: 1px;
}


.status-combo-box {
    -fx-font-size: 16px;
    -fx-background-color: -popup-input-color;
    -fx-pref-height: 30px;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.status-combo-box .text-input {
    -fx-background-color: -popup-input-color;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.status-combo-box .combo-box-popup {
    -fx-background-color: -popup-input-color;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.status-combo-box .combo-box-popup .list-view {
    -fx-background-color: -popup-input-color;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-background-insets: 3 0 0 0;
    -fx-padding: 3 0 0 0;
}

.status-combo-box .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-pref-height: 30px;
    -fx-padding: 5 10 5 10;
}

.status-combo-box .list-cell:hover {
    -fx-background-color: -popup-input-hover-color;
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.status-combo-box .arrow-button .arrow {
    -fx-background-color: white;
}




.ratings-box {
    -fx-background-radius: 5;
    -fx-background-color: -popup-rating-background-color;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
}

.ratings-button {
    -fx-background-color: transparent;
}

.ratings-button .ikonli-font-icon {
    -fx-icon-color: -popup-rating-inactive-color;
    -fx-icon-size: 24px;
}

.ratings-button:hover .ikonli-font-icon {
    -fx-icon-color: -popup-rating-hover-color;
}

.ikonli-heart-active .ikonli-font-icon {
    -fx-icon-color: -popup-rating-active-heart-color;
}

.ikonli-heart-active:hover .ikonli-font-icon {
    -fx-icon-color: -popup-rating-active-heart-color;
}

.ikonli-thumb-active .ikonli-font-icon {
    -fx-icon-color: -popup-rating-active-thumbs-color;
}

.ikonli-thumb-active:hover .ikonli-font-icon {
    -fx-icon-color: -popup-rating-active-thumbs-color;
}


.progress-text-field {
    -fx-font-size: 16px;
    -fx-background-color: -popup-progress-color;
    -fx-pref-height: 30px;
    -fx-text-fill: white;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.progress-label {
    -fx-font-size: 16px;
    -fx-text-fill: white;
    -fx-min-height: 30px;
    -fx-max-height: 30px;
    -fx-alignment: center-right;
}





.grid-media-popup-right {
    -fx-spacing: 10;
    -fx-padding: 0 10 0 0;
}

.popup-synopsis {
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-label-padding: 10 0 10 0;
}

.popup-scroll-pane {
    -fx-background: transparent;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 4;
    -fx-padding: 0px 10px 0px 10px; /*  Weird padding so left and (right - scrollbar width) look the same */
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: -popup-scrollpane-color;
    -fx-fit-to-width: true;
    -fx-vbar-policy: as-needed;
    -fx-hbar-policy: never;
}

.popup-meta-grid {
    -fx-padding: 10;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-background-color: -popup-scrollpane-color;
}

.popup-meta-grid-header {
    -fx-font-size: 12px;
    -fx-text-fill: rgba(255, 255, 255, 0.6);
}

.popup-meta-grid-text {
    -fx-font-size: 14px;
    -fx-text-fill: white;
}

.popup-meta-grid-text-but-without-font-size {
    -fx-text-fill: white;
}



/* ************************************* */
/* Log grid */
/* ************************************* */
.log-grid-content-pane-controls {
    -fx-background-color: -content-background-color;
    -fx-padding: 15 15 0 15;
    -fx-alignment: center;
}

.log-grid-content-pane-controls-bottom-border {
    -fx-border-color: -gold-highlight;
    -fx-border-width: 0 0 1 0;
}


.log-grid-header-separator {
    -fx-min-height: 1px;
    -fx-pref-height: 1px;
    -fx-max-height: 1px;
    -fx-background-color: -gold-highlight;
}

.log-grid-header-text {
    -fx-alignment: center;
    -fx-text-fill: -gold-highlight;
    -fx-font-size: 25;
    -fx-font-style: italic;
    /* -fx-font-weight: 200; */
}


/* Spinner stuff */
/* Not sure if we'll be using spinners? */
/*
.spinner {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 0;
}
.spinner .text-field {
    -fx-background-radius: 10 0 0 10;
    -fx-border-radius: 10 0 0 10;
}
.spinner .increment-arrow-button {
    -fx-background-radius: 0 10 10 0;
    -fx-border-radius: 0 10 10 0;
    -fx-background-color: transparent;
}
.spinner .decrement-arrow-button {
    -fx-background-radius: 0 10 10 0;
    -fx-border-radius: 0 10 10 0;
    -fx-background-color: transparent;
}
.spinner .increment-arrow-button:hover {}
.spinner .decrement-arrow-button:hover {}
.spinner .increment-arrow-button:pressed {}
.spinner .decrement-arrow-button:pressed {}
.spinner .increment-arrow-button .increment-arrow {}
*/