.root {
    -main-background-color: #23242A;
    -sidebar-color: #2d2f38;
    -content-color: #1e1e1e;
}

#main-root {
    -fx-background-color: -main-background-color;
}

#sidebar {
    -fx-background-color: -sidebar-color;
    -fx-padding: 10px;
    -fx-spacing: 10px;
    -fx-alignment: center;
}

#main-label {
    -fx-text-fill: white;
    -fx-font-size: 32px;
    -fx-font-weight: bold;
}

.separator {
    -fx-pref-height: 1px;
    -fx-background-color: orange;
}

.separator-text {
}

.sidebar-button {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.sidebar-button:hover {
    -fx-background-color: #353538;
}

.sidebar-button-active {
    -fx-background-color: #45454A;
}

.sidebar-button-active:hover {
    -fx-background-color: #57575e;
}

.content-pane {
    -fx-background-color: -content-color;
}

.content-pane-controls {
    -fx-background-color: -content-color;
    -fx-padding: 20px;
    -fx-spacing: 15px;
    -fx-alignment: center;
}

#search-bar {
    -fx-background-color: #333;
    -fx-text-fill: white;
    -fx-prompt-text-fill: rgba(255, 255, 255, 0.5);
    -fx-pref-height: 35px;
}

.controls-button {
    -fx-background-color: #444;
    -fx-text-fill: white;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-pref-height: 35px;
    -fx-pref-width: 120px;
    -fx-background-insets: 0; /* Override default JavaFX styling that makes buttons larger than desired */
}


/* No pseudo selectors in JavaFX, yay.. */
#browse-mode-browse-button {
    -fx-border-radius: 10px 0 0 10px;
    -fx-background-radius: 10px 0 0 10px;
}

#browse-mode-log-button {
    -fx-border-radius: 0 10px 10px 0;
    -fx-background-radius: 0 10px 10px 0;
}


.browse-mode-button:hover {
    -fx-background-color: #555;
}

.browse-mode-button-active {
    -fx-background-color: #666;
}

.browse-mode-button-active:hover {
    -fx-background-color: #777;
}


.filter-label {
    -fx-text-fill: white;
    -fx-font-size: 10pt;
}

.filter-box {
    -fx-pref-height: 35px;
    -fx-pref-width: 200px;
    -fx-font-size: 13pt;
}

.grid-scroll-pane {
    -fx-background: -content-color;
    -fx-background-color: -content-color;
    -fx-border-color: -content-color;
    -fx-font-size: 4;
    -fx-padding: 0 6px 10px 10px; /* Weird padding so left and (right - scrollbar width) look the same */
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-opacity: 0;
    -fx-pref-height: 0;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-font-size: 2;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: white;
    -fx-background-radius: 5em;
    -fx-font-size: 2;
}

.grid-media-box {
    -fx-background-color: lightgray; /* For when image not loaded, should be testing only */
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;

    /* This needs further testing on what is necessary depending on if we use borders */
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
    -fx-border-insets: 0;

    /* Experiment with borders more later */
    -fx-border-color: lightgray;
    -fx-border-width: 1px;
}

.grid-media-popup-background {
    -fx-background-color: black;
}

.grid-media-popup {
    -fx-background-color: -sidebar-color;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.grid-media-popup-title {
    -fx-border-color: white;
    -fx-border-width: 0 0 2 0;
    -fx-text-fill: white;
    -fx-padding: 5 5 5 10;
}

.grid-media-popup-left {
    -fx-spacing: 5;
    -fx-padding: 10;
    -fx-border-color: white;
    -fx-border-width: 0 2 0 0;
}

.grid-media-popup-left-item {

}

.ratings-button {
    -fx-background-color: transparent;
    -fx-border: none;
}

.ikonli-inactive .ikonli-font-icon {
    -fx-icon-color: gray;
    -fx-icon-size: 24px;
}

.ikonli-heart-active .ikonli-font-icon {
    -fx-icon-color: red;
    -fx-icon-size: 24px;
}

.ikonli-thumb-active .ikonli-font-icon {
    -fx-icon-color: goldenrod;
    -fx-icon-size: 24px;
}

.grid-media-popup-right {
    -fx-border-color: red;
    -fx-border-width: 0 0 0 2;
}

.popup-scroll-pane {
    -fx-background: -sidebar-color;
    -fx-background-color: -sidebar-color;
    -fx-border-color: -sidebar-color;
    -fx-font-size: 4;
    /* -fx-padding: 0 6px 10px 10px;  Weird padding so left and (right - scrollbar width) look the same */
}

/* Spinner stuff */
.spinner {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-padding: 0;
}
.spinner .text-field {
    -fx-background-radius: 10 0 0 10;
    -fx-border-radius: 10 0 0 10;
}
.spinner .increment-arrow-button {
    -fx-background-radius: 0 10 10 0;
    -fx-border-radius: 0 10 10 0;
    -fx-background-color: transparent;
}
.spinner .decrement-arrow-button {
    -fx-background-radius: 0 10 10 0;
    -fx-border-radius: 0 10 10 0;
    -fx-background-color: transparent;
}
.spinner .increment-arrow-button:hover {}
.spinner .decrement-arrow-button:hover {}
.spinner .increment-arrow-button:pressed {}
.spinner .decrement-arrow-button:pressed {}
.spinner .increment-arrow-button .increment-arrow {}